#!/bin/bash

#Need a temp file
TEMP=$(mktemp /tmp/temporary-file.XXXXXXXX)

#Run RCU dumping to the temp file
{{ rcu_executable }} \
  -silent \
  -{{ rcu_action | default('createRepository') }} \
  -databaseType ORACLE \
  -connectString {{ rcu_hostname }}:{{ rcu_port }}:{{ rcu_service }} \
  -dbUser sys \
  -dbRole sysdba \
{% for component in rcu_components %}  -component {{ component }} \
{% endfor %}
{% if rcu_variables is defined %}  -variables {{ rcu_variables }} \
{% endif %}
  -schemaPrefix {{ rcu_prefix }}  < {{ rcu_password_file }} > ${TEMP}

#pour out the temp file for optional Ansible variables
cat ${TEMP}

#Check for existing database... and if so exit cleanly.
if grep -q "The specified prefix already exists" "$TEMP"; then
  exit 99
fi


